@using PeopleManager.Dto.Results

@if (Model is not null)
{
    <tr>
        <td>@Model.Name</td>
        <td>
            <a class="btn btn-secondary" href="@AppRoutes.Organizations.EditUrl(Model.Id)">Edit</a>
            @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            <button class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    data-id="@Model.Id"
                    data-mode="delete"
                    data-first-name="@Model.FirstName"
                    data-last-name="@Model.LastName"
                    data-email="@Model.Email">
                Delete with modal
            </button> *@
        </td>
    </tr>
}

@code {
    [Parameter, EditorRequired]
    public OrganizationResult? Model { get; set; }
}
